<form id="add-child">
    <label for="age">Age</label>
    <input type="text" name="age" id="age">
    <label for="first-name">First Name</label>
    <input type="text" name="first-name" id="first-name">
    <label for="last-name"></label>
    <input type="text" name="last-name" id="last-name">

    <button type="submit">Add Child</button>
</form>

<div id="user-id" data-id="{{user.id}}"></div>

<script src="/js/add.js"></script>