<form id="add-child">
    <label for="age">Age</label>
    <input type="text" name="age" id="age">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <button type="submit">Add Child</button>
</form>

<div id="user-id" data-id="{{userId}}"></div>

<script src="/js/add.js"></script>