<div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Add Child</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <form id="add-child">
                    <div class="mb-3">
                        <label for="age" class="form-label">Age</label>
                        <input type="text" class="form-control" name="age" id="age">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Child</button>
                </form>
            </div>
        </div>
    </div>

<script src="/js/add.js"></script>