<form id="filters">
    <input type="text" id="start-time" placeholder="Start Time">
    <input type="text" id="end-time" placeholder="End Time">
    <label for="require-cooking">Cooking not ok?</label>
    <input type="checkbox" name="require-cooking" id="require-cooking">

    <button type="submit">Search</button>    
</form>

<div id="search-results">
        <!-- Jobs populate here -->
</div>

<script src="/js/jobs.js"></script>