<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> KIDDO KARE</title>
    <link rel="stylessheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="flex-colum justify-space-around">
        <header class="display-flex justify-space-between-align-center">
            <h1>KIDDO KARE</h1>
             <nav class="navbar-nav bg-light border-bottom border-body" data-bs-theme="light">
                <ul class = "navigation">
                <li><a href="#Posting"></a>Job Posting</li>
                <li><a href="#Search"></a>Search</li>
                <li><a href="#Login"></a>Login</li>
                </ul>
            </nav>
              {{#unless loggedIn}}
                 <form class="form login-form">
 <div class="form-group">
    <label for="username-login">username:</label>
    <input class="form-input" type="text" id="username-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>
            {{/unless}}
        </header>
        <main class="container container-fluid">
            {{{body}}}
        </main>
     
    </div>
</body>

</html>

        
             
             
             
             
            