<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="=UTF-8">
    <title> KIDDO KARE</title>
    <link rel="stylessheet" href="/css/style.css">
    <link rel="" href="">
</head>

<body>
    <div class="flex-colum justify-space-around">
        </html><header class="display-flex justify-space-between-align-center">
            <h1>KIDDO KARE</h1>
            <nav>
                <ul class = "navigation"></ul>
                <li><a href="#Posting"></a></li>
                <li><a href="#Search"></a></li>
                <li><a href="#Login"></a></li>
            </nav>

        </header>
        <main class="container container-fluid">
            {{{body}}}
        </main>
    </div>
</body>

</html>