<div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Post Job for {{user.userName}}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <form id="job-info">
                    <div class="mb-3">
                        <label for="start-time" class="form-label">Enter start time</label>
                        <input type="text" class="form-control" name="start-time" id="start-time">
                    </div>
                    <div class="mb-3">
                        <label for="end-time" class="form-label">Enter end time</label>
                        <input type="text" class="form-control" name="end-time" id="end-time">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Enter job details</label>
                        <textarea class="form-control" name="description" id="description" cols="30" rows="5"></textarea>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="requires-cooking" id="requires-cooking">
                            <label class="form-check-label" for="requires-cooking">Requires cooking?</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="instructions" class="form-label">Other Job Instructions</label>
                        <textarea class="form-control" name="instructions" id="instructions" cols="30" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Post Job</button>
                </form>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div id="user-id" data-id="{{userId}}"></div>
            </div>
        </div>
    </div>

<script src="/js/post.js"></script>