<form id="filters">
    <input type="text" id="years-experience" placeholder="Minimum Years Experience">
    <label for="qualifications">Enter any single keywords for qualifications you need for the job, separated by commas:</label>
    <textarea name="qualifications" id="qualifications" cols="30" rows="10"></textarea>

    <button type="submit">Search</button>
</form>

<div id="results-container">
    <!-- Sitter search results populate here -->
</div>

<script src="/js/search.js"></script>